<div ng-controller = 'myController'>
   <div class="col-xs-6">
        <h1>Game Schedule</h1>
        <custom-filter-dir></custom-filter-dir>
        <div class="form-inline" ng-init="SpecGame = '1'">
            <label for="">Select Game:</label>
            <select class = 'form-control' ng-model = 'SpecGame' autocomplete="off">
                <option value="">All Games</option> 
                <option value=1 selected>Game 1</option>
                <option value=2>Game 2</option>
                <option value=3>Game 3</option>
            </select>
        </div><br>
        <div class="form-inline" ng-init="SpecBracket = '1'">
            <label for="">Select Bracket:</label>
            <select class = 'form-control' ng-model = 'SpecBracket' autocomplete="off">
                <option value="">All Brackets</option> 
                <option value=1 selected>Bracket 1</option>
                <option value=2>Bracket 2</option>
            </select>
        </div><br>
        <table class="table table-striped table-condensed">
            <tr>
                <th>Team</th>
                <th>Lane</th>
                <th>Player</th>
                <th>Score</th>
                <th>Total</th>
                <th>Wins</th>
            </tr>
            <tr ng-repeat="game in gamedata | filter : {Week:SpecWeek} | filter : {Bracket:SpecBracket} | filter : {Game:SpecGame} | filter : filtername | orderBy: '-Total' | orderBy: '-Wins'">
                <td>{{game.Team}}</td>
                <td>{{game.Lane}}</td>
                <td>
                    <p>{{game.Player1}}</p>
                    <p>{{game.Player2}}</p>
                    <p>{{game.Player3}}</p>
                </td>
                <td>
                    <p>{{game.Score1}}</p>
                    <p>{{game.Score2}}</p>
                    <p>{{game.Score3}}</p>
                </td>
                <td>{{game.Total}}</td>
                <td>{{game.Wins}}</td>
            </tr>
        </table>
    </div>
</div>
