<div class = 'col-xs-6'>
    <h1>Hello!</h1>
    <p>Thank you to everyone who participated in Week 2 of Hebron's bowling league. In preparation for playoffs, please practice (tomorrow is dollar bowling at Arlington Lanes all day). </p>

    <p>If for some reason you cannot show up, please let me know as soon as possible. The penalty for missing is the lower of 1) your average when you signed up for the league or 2) your current average. After you find which is lower, subtract 20 pins. </p>

    <p>Extra: Thank you for telling Jon and Ilhwan about the money they owed me. And sorry about the technical difficulties. All fixed now!</p>
</div>